
    body {
      background-color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      display: block;
      box-sizing: border-box;
      margin: 0;
      overflow-x: hidden;
      margin: 2px;
      /* padding: 70px; */
    }

nav {
  position: fixed;
  width: 100%;
  
  
}

nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #ffffff;
}
    
nav ul   li {
      float: right;
    }
    

    nav ul li {
      padding: 5px;
      font-weight: 600;
    }

    nav ul li:hover {
      border-bottom: 1px solid #ffcd03;
      border-top: 1px solid rgb(255, 205, 3);
      border-bottom-right-radius: 50%;
      border-top-left-radius: 50%;
      background-color: rgb(255, 205, 3);
    }

    nav ul li:hover a {
      color: white !important;
    }
    



nav ul li a, .dropbtn {
      display: inline-block;
      color: #03469e !important;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-weight: bold;
    }

    .active {
      /* border: 2px solid #ffff00; */
      border-bottom: 1px solid rgb(255, 205, 3);
      border-bottom-right-radius: 50%;
    }
.image-under-nav {
background-image: url('../assets/gorilla.png');
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
/* background-attachment: fixed; */
margin-bottom: 40px;
}

.image-under-nav h1 {
position: absolute;
color: #ffff00;
background-color: #cacaca79;
padding: 30px;
font-size: 30px;
text-transform: uppercase;
margin-left: 35%;
bottom: 0;
}

.section-2 .right-column img {
  width: 60px;
  border-radius: 4px;
  height: 40px;
}

.section-2 .right-column .news .story .description a {
  text-decoration: none;
  color: rgb(49, 162, 233);
  font-size: 90%;
  font-weight: 800;
}

.section-2 .right-column .news .story .description a:hover {
  color: black;
}

/*COLUMNS-1*/
.section-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 70px;
  justify-content: space-between;
}

.section-2 .right-column,
.section-2 .middle-column,
.section-2 .left-column {
  width: 30%;
}

.section-2 .right-column .news .story {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 30px;
}

.section-2 .right-column .news .story .button {
  text-decoration: none;
  font-size: 70%;
  color: gray;
  display: block;
  padding: 5px 5px;
  border: solid 1px gray;
  border-radius: 3px;
  text-align: center;
  width: 60px;
}

.section-2 .right-column .news .story .new {
  margin-top: -17px;
}

/*TITLES*/
.section-2 .right-column .title-and-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;    
}

.section-2 .right-column .title-and-line .line {
  height: 1px;
  background-color: gray;
  width: 60%;
  margin-top: 35px;
}

.section-2 .right-column .title-and-line .col-head {
  width: 35%;
}
.news-section{
 display: flex;
 margin: 0%;
 width: 100%;
 height: auto;
}
.news-image-1{
  flex: 1;
  width: 48%;
  height: 400px;
  }

.image1-2{
  display: flex;
  flex-direction: column;
  width: 48%;

}
.news-image-2{
  flex: 1;
  height: 200px;

  
}

.news-image-2{
  flex: 1;
  height: 200px;
}
/*COLUMN-2*/

.middle-column col











.export-header{
margin-top: 5px;
margin-bottom: 5px;
margin-left: 3px;
font-weight: 800;
color:#ffff00 ;
font-size: 22px;
line-height: 25px;
zoom: 1;
}


.export-image{
background-image: url(../assets/port.PNG);
height: 60vh;
background-repeat: no-repeat;
background-size: cover;
/* background-image: linear-gradient(to bottom, #004099, #a6a6a6); */
}
.export-image .export-text h1 {
   color: #ffe600 !important;
   font-size: 50px;
   padding: 3%;
   text-align: center;
   font-family:'museo-sans-condensed';
   /* margin-top: 10px; */
   }
  .export-image .export-text p {
    color:#ffffff;
    font-size: 25px;
    /* padding: 3%; */
    /* line-height: 36px; */
    text-align: center;
    /* margin-top: 10px; */
    }

.cardheader{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  font-weight: 800;
  color: #ffaa0d;
  font-size: 22px;
  /* line-height: 25px; */
  /* zoom: 1; */
}

.line {
height: 5px;
background-color:#cacaca79;

}

.card-section {
display: block;
width: 100%;
background-color: red;
margin-top: 5px;
/* padding: 20px;
position: relative; */
}

.card-section .cards {
/* display: inline-block; */
float: left;
flex-direction: row;
flex-wrap: wrap; 
justify-content: space-between; 
width: 33.3%;

}

.card-section .cards .aCard {
width: 95%;
height: auto;
margin-bottom: 40px;
border-radius: 5px;
border: 1px solid rgb(216, 216, 216);
margin-left: 30px;
margin-right: 2px;
}

.card-section .cards .aCard img {
width: 100%;
border-radius: 5px 5px 0 0;
height: 200px;
}

.card-section .cards .aCard .card-title {
background-color: rgb(222, 222, 222);
border: 1px solid rgb(216, 216, 216);
margin-top: -5px;
}
.card-section .cards .aCard .card-title p {
text-align: center;
font-weight: 600;
}

.card-section .cards .aCard .description p{
padding-left: 15px;
padding-right: 15px;
}

.card-section .cards .aCard .description .button {
padding: 8px 18px;
border-radius: 5px;
text-align: center;
bottom: 0;
margin-left: 15px;
margin-right: 15px;
margin-bottom: 10px;
background-image: linear-gradient(to bottom,#1fc4f0,#0e7add);
background-repeat: repeat-x;
}
.card-section .cards .aCard .description .button a {
text-decoration: none;
color: white;
font-weight: 600;
}

/* .main-footer {
background-color: #035b99;
display: block;
width: 100%;
padding: 8px;
}
  
.footer{
background-color:#1fc4f0;
margin-left: 8px;
float: left;
flex-direction: row;
flex-wrap: wrap; 
justify-content: space-between;
width: 100%;
}
.main-footer .footer .footer-title {
color: #ffea00 ;
font-family: 'museo-sans-condensed';
font-size: 20px;
font-weight: 700;
} */

/* ul{
list-style-type:none;
margin: 0;
padding: 0;
overflow: hidden;
color: white;
}
.main-footer .footer .ul a{
  color: #ffffff;
}

.contact-us, .investment, .links, .media {

width: 95%

}  */

.main-footer {
  background-color: #035b99;
  float: left;
  width: 100%;
  padding: 30px;
  margin-top: 50px;
}

.main-footer .footer {
  width: 100%;
}

.footer .contact-us,
.footer .Investment, 
.footer .links, 
.footer .media {
  width: 25%;
  float: left;
}

.footer-title {
  color: #ffaa0d;
}

.contact-us p{
  color: #c4c4bf;
}